.image {
       position: absolute;
       transform-origin: 0 50%;
       width: 420px;
       height: 420px;
     }
     
     .background__image {
       position: absolute;
       transform-origin: 0 50%;
       width: 420px;
       height: 420px;
       height: 840px;
       transform: translateZ(0px) scale(1);
     }
     
     .middle__image {
       position: absolute;
       transform-origin: 0 50%;
       width: 420px;
       height: 420px;
       top: 150px;
       transform: translateZ(5px) scale(parallax-scale-factor(5));
     }
     
     .foreground__image {
       position: absolute;
       transform-origin: 0 50%;
       width: 420px;
       height: 420px;
       top: 125px;
       transform: translateZ(2px) scale(parallax-scale-factor(2));
     }